# **PYTHON**

### **Variable**

In [2]:
name = 'sufiyan'
print(name)

sufiyan

### **Data Types**

In [6]:
name:str = 'Muhammad Sufiyan Baig'
age:int = 18
height:float = 5.9
skills:list[str] = ['Web Developement', 'Graphic Designing']
tap:tuple = ('Muhammad', "Sufiyan", "Baig")
obj:dict = {"name": "Sufiyan", "age": 18, "height": height, "skills":skills, "tap":tap}

print(name, "\n", age, "\n", height, "\n", skills, "\n", tap, "\n", obj)

Muhammad Sufiyan Baig
 18
 5.9
 ['Web Developement', 'Graphic Designing']
 ('Muhammad', 'Sufiyan', 'Baig')
 {'name': 'Sufiyan', 'age': 18, 'height': 5.9, 'skills': ['Web Developement', 'Graphic Designing'], 'tap': ('Muhammad', 'Sufiyan', 'Baig')}

### **String Method**

In [19]:
name = "Muhammad Sufiyan Baig"
print("Original: ",name) #Original
print("\nCapitalize: ",name.capitalize()) #Capitalize
print("\nUpperCase: ",name.upper()) #UpperCase
print("\nLowerCase: ",name.lower()) #LowerCase
print("\nTitleCase: ",name.title()) #TitleCase

name4 = """ 
Muhammad  
Sufiyan  
Baig
""" #multi Line string
name5 = "Muhammad \"Sufiyan\"  Baig"  #Qoutation between String
name6 = "Muhammad" + " " + "Sufiyan" + " " + "Baig"  #Concatinating
name7 = f"{name} " #f-string Method
text = "I am {}, my age is {} and I am {}".format("Sufiyan", 18, "Full-Stack Developer")  #Format
text1 = "I am {1}, my age is {0} and I am {2}".format("Sufiyan", 18, "Full-Stack Developer")  #Format with index
text2 = "I am {name}, my age is {age} and I am {occupation}".format(name="Sufiyan", age=18, occupation="Full-Stack Developer") #Format with Keys

print(name4)
print(name5)
print(name6)
print(name7)
print(text)
print(text1)
print(text2)

Original:  Muhammad Sufiyan Baig

Capitalize:  Muhammad sufiyan baig

UpperCase:  MUHAMMAD SUFIYAN BAIG

LowerCase:  muhammad sufiyan baig

TitleCase:  Muhammad Sufiyan Baig

### **Escape Sequence & and Some methods**

In [20]:
name = "Muhammad Sufiyan Baig"           #Original
name1 = "Muhammad \n Sufiyan \n Baig"    #New Line
name2 = "Muhammad \t Sufiyan \t Baig"    #Tab Space
name3 = "Muhammad \r Sufiyan \r Baig"    #Carriage Return
print(name)
print(name1)
print(name2)
print(name3)

Muhammad Sufiyan Baig
Muhammad
 Sufiyan
 Baig
Muhammad 	 Sufiyan 	 Baig
 Baigyan

### **Number Method**